@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAF9;
  --foreground: #0F172A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer base {
  .font-tabular {
    font-variant-numeric: tabular-nums;
  }
}
